@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    1276 Gilbreath Dr.
    <br />
    Johnson City, TN 37614
    <br />
    <abbr title="Phone">P:</abbr>
    425.439.1000
</address>

<address>
    <strong>Erika Hamby: </strong><a href="mailto:zelh10@goldmail.etsu.edu">zelh10@goldmail.etsu.edu</a>
    <br />
    <strong>Evan Blankenship: </strong><a href="mailto:zseb21@goldmail.etsu.edu">zseb21@goldmail.etsu.edu</a>
    <br />
    <strong>Yan Cao: </strong><a href="mailto:caoy01@goldmail.etsu.edu">caoy01@goldmail.etsu.edu</a>
    <br />
    <strong>Pramod Napal: </strong><a href="mailto:nepalp@goldmail.etsu.edu">nepalp@goldmail.etsu.edu</a>
</address>