@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Media Manager</h1>
    <p class="lead">Media Manager allows you to manage your media collection and let others view and request to borrow your items.</p>
    <p>
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add, Update, &amp; Remove Items</h2>
        @*<p>Description</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>View Other Collections</h2>
        <p>Coming Soon</p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Request to Borrow Items</h2>
        <p>Coming Soon</p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
</div>
